
.leftbar {
    -fx-background-color: white;
    -fx-border-color: black;
    -fx-border-width: 0 1 0 1;
}

.leftbar .button {
    -fx-min-height: 50.0;
    -fx-font-size: 12px;
    -fx-background-color: white;
    -fx-border-radius: 6;
    -fx-border-color: black;
    -fx-min-width: 140;
    -fx-max-width: 140;
    -fx-max-height: 300;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}
.leftbar .button:hover {
    -fx-background-color: rgba(255, 184, 184, 0.71);
}
.leftbar .text-field {
    -fx-max-width: 45;

}
.toolbarname {
    -fx-font-size: 16px;
    -fx-border-color: black;
    -fx-border-width: 1 0 1 0;
    -fx-padding: 5;
    -fx-min-width: 200;
}
.label {
    -fx-wrap-text: true;

}
TextField:focused {
    -fx-highlight-fill: red;
    -fx-background-color: red, -fx-background ;
    -fx-border-color: #fc6060;
    -fx-border-width: 0;
}
.AmVolt {
    -fx-min-width: 400;
    -fx-min-height: 150;
    -fx-border-color: black;
}
.GenAndACGen {
    -fx-min-width: 400;
    -fx-min-height: 150;
    -fx-border-color: black;
}
.ViewPanel {
    -fx-font-size: 15px;
    -fx-padding: 5 20 5 20;
    -fx-font-weight: bold;
    -fx-background-color: #fc6060;
    -fx-border-color: black;
    -fx-min-width: 80;

}
.powerButton {
    -fx-background-color: #cf0000;
    -fx-border-radius: 6;
    -fx-border-color: black;
    -fx-background-radius: 9;
    -fx-padding: 4 25 4 25;
    -fx-text-fill: #ffffff;
    -fx-font-size: 14
}
.powerButton:hover {
    -fx-background-color: rgba(207, 0, 0, 0.58);

}

.btnPanel {
    -fx-min-height: 30.0;
    -fx-font-size: 10px;
    -fx-background-color: white;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
    -fx-border-color: black;
    -fx-min-width: 140;
    -fx-max-width: 150;
    -fx-max-height: 60;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}
.btnPanel:hover {
    -fx-background-color: rgba(255, 184, 184, 0.71);
}
.SwitcherPanel {
    -fx-border-color: black;
    -fx-padding: 3;
    -fx-background-color: white;
}
.triangle:hover {

    -fx-text-fill: green;

}
#centerPanel {
    -fx-background-color: white;
}
.triangle {
    -fx-background-color: rgba(255,0,0,0);
    -fx-font-size: 16;
}